.container {
    margin: auto;
    width: 180px;
    position: relative;
}
.imagePreview{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf0e910b821dca.png);
    border: 6px solid #f8f8f8;
    box-shadow:10px 4px 4px -3px rgba(0,0,0,0.2);
}
.editImg{
    position: absolute;
    top: -2px;
    right: -2px;
    z-index: 5;
}   
.editImg input{
    display: none;
}
.editImg input + label{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.editImg input + label::after{
    content: "📸";
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}